/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

@media (min-width: 800px) {
  body {
    flex-direction: row;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-top: 0;
}

.container {
  display: flex;
  margin-inline: auto;
}

/******************************************
/* LAYOUT
/*******************************************/
header .container {
  position: relative;
}

@media (min-width: 800px) {
  header .container {
    position: unset;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

header .menu svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 2em;
}

header nav {
  position: absolute;
  top: 0;
  right: -100%;
}

@media (min-width: 800px) {
  header nav {
    position: unset;
  }
}

main {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
form {
  margin-bottom: 1em;
}

form input {
  border: none;
  width: 100%;
}

header a {
  display: inline-block;
  text-decoration: none;
  color: #808080;
  padding-block: 0.3em;
}

nav a:hover {
  text-decoration: underline;
}

main h1,
main h3 {
  margin: 0;
}

h1 + span,
h3 + span,
span + span {
  font-size: 0.7rem;
}

/* Feature section */
#feature {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

@media (min-width: 800px) {
  #feature {
    flex-direction: row;
    gap: 1em;
  }
}

@media (min-width: 800px) {
  #feature div {
    width: 60%;
  }
}

@media (min-width: 800px) {
  #feature ul {
    width: 40%;
  }
}

#feature li {
  margin-bottom: 1em;
}

/* Latest section */
#latest h2 {
  font-size: 0.9em;
  color: #808080;
}

#latest span {
  display: block;
}

#latest h3 + span {
  font-weight: bold;
}

#latest span + span {
  color: #808080;
}

#latest ul {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

@media (min-width: 800px) {
  #latest ul {
    gap: 2em;
  }
}

#latest li {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

@media (min-width: 800px) {
  #latest li {
    flex-direction: row;
    gap: 1em;
  }
}

@media (min-width: 800px) {
  #latest div,
  #latest p,
  #latest img {
    width: 33.3333%;
  }
}
