html {
  --color-name-dark-orange: 255, 136, 0;
  --color-name-alice-blue: #e4ecef;
  --color-name-anti-flash-white: #f2f6f7;
  --color-name-white: #fff;
  --accent-color-primary: rgba(var(--color-name-dark-orange), 1);
  --accent-color-primary-lightened: rgba(var(--color-name-dark-orange), 0.8);
  --bg-color-primary: var(--color-name-white);
  --bg-color-secondary: var(--color-name-alice-blue);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
  text-wrap: balance;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  position: relative;
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  padding-inline: 1em;
}

img {
  width: 100%;
}

button,
input {
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.25em;
}

button {
  cursor: pointer;
}

input {
  border: 1px solid gray;
}

.btn {
  border: none;
  color: #fff;

  &.btn-primary {
    background-color: var(--accent-color-primary);
    border: 1px solid var(--accent-color-primary);

    &:hover {
      background-color: var(--accent-color-primary-lightened);
    }
  }
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  /* border: 1px solid var(--accent-color-primary); */
  color: var(--color-name-white);
  border-radius: 0.25em;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  svg {
    font-size: 0.85em;
  }
}

.btn-link-primary {
  background-color: var(--accent-color-primary);
}

.btn-link-primary-light {
  background-color: var(--accent-color-primary-lightened);
}

.btn-left,
.btn-right {
  padding-inline: 1em;
  padding-block: 1em;
  border-radius: none;
}

section > .container {
  padding-block: 4em;
}

section > span,
section > .container > span {
  color: var(--accent-color-primary);
}

.stars-list {
  display: flex;
  color: var(--accent-color-primary);

  .star {
    font-size: 0.9em;
    margin-inline: -1.5px;
  }
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.header {
  background-color: var(--bg-color-secondary);
  padding-top: 1em;
  overflow: hidden;

  .container {
    justify-content: space-between;
  }

  .brand-logo {
    font-size: 3rem;
    stroke-width: 1.5px;
  }

  .menu-icon {
    font-size: 2rem;

    @media (min-width: 796px) {
      display: none;
    }
  }

  a {
    font-size: 0.9rem;
  }

  nav {
    position: absolute;
    top: 0;
    right: -100%;

    @media (min-width: 796px) {
      position: unset;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      @media (min-width: 796px) {
        flex-direction: row;
        gap: 1em;
      }
    }

    svg {
      font-size: 1.1em;
      margin-left: 1.25em;
    }
  }
}

/* HERO section */
.hero {
  background-color: var(--bg-color-secondary);

  .container {
    display: flex;
    flex-direction: column;
  }

  .socials {
    ul {
      display: flex;
      gap: 2em;
      margin-top: 1em;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.1em;
      line-height: 1.7;
    }

    svg {
      font-size: 1em;
      color: var(--accent-color-primary);
    }
  }
}

/* ABOUT section */
.about {
  background-color: var(--color-name-white);

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;

    @media (min-width: 796px) {
      margin-left: 40%;
    }
  }
}

/* ORDER section */
.order {
  background-color: var(--color-name-anti-flash-white);

  .container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
    z-index: 1;
  }

  .cuisines-list {
    display: flex;

    a {
      padding-inline: 1.25em;
      padding-block: 0.5em;
      border-bottom: 1px solid lightgray;
      transition: all 0.2s;

      &:hover {
        text-decoration: none;
        color: var(--accent-color-primary-lightened);
        border-bottom: 1px solid var(--accent-color-primary-lightened);
      }

      &.active {
        color: var(--accent-color-primary);
        border-bottom: 3px solid var(--accent-color-primary);
      }
    }
  }

  .cuisine-items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1.25em;

    @media (min-width: 796px) {
      gap: 2em;
    }
  }

  .cuisine-item {
    position: relative;

    .background-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: filter 0.5s ease;
      filter: brightness(100%);

      &.item1 {
        background-image: url(https://images.unsplash.com/photo-1598515213345-d710d121c709?q=80&w=640&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      }
      &.item2 {
        background-image: url(https://images.unsplash.com/photo-1598514982901-ae62764ae75e?q=80&w=640&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      }
      &.item3 {
        background-image: url(https://images.unsplash.com/photo-1598515213381-80d77efcdf32?q=80&w=640&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      }
      &.item4 {
        background-image: url(https://images.unsplash.com/photo-1555821768-54cd53df8983?q=80&w=640&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
      }

      .pill {
        position: absolute;
        top: 0.25em;
        right: 0.25em;
        color: var(--color-name-white);
        background-color: var(--accent-color-primary);
        padding-inline: 0.75em;
        padding-block: 0.2em;
        border-radius: 1em;
        font-size: 0.7rem;
      }
    }

    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: var(--color-name-white);
      padding-inline: 2em;
      padding-block: 2em;
      transition: opacity 0.5s ease;
      opacity: 0;

      .price {
        font-family: "Times New Roman", Times, serif;
        font-weight: bold;
      }

      .btn {
        background-color: var(--accent-color-primary);
        padding-inline: 0.8em;
        padding-block: 0.5em;
        font-size: 0.7rem;
        border-radius: 0.25em;
        margin-top: 1em;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--accent-color-primary-lightened);
        }
      }
    }

    &:hover .background-image,
    &.active .background-image {
      filter: brightness(50%);
    }
    &:hover .overlay,
    &.active .overlay {
      opacity: 1;
    }
  }
}

/* HOURS section */
.hours {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    .cta-icon {
      font-size: 2rem;
      color: var(--accent-color-primary);
    }

    .cta-action {
      font-size: 0.8rem;
    }

    .cta-number {
      color: var(--accent-color-primary);
      font-family: "Times New Roman", Times, serif;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  .days-and-times {
    display: flex;
    justify-content: space-around;
    width: 100%;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }

    .times {
      font-weight: bold;
      font-family: "Times New Roman", Times, serif;
    }
  }
}

/* TESTIMONIALS section */
.testimonials {
  background-color: var(--color-name-anti-flash-white);

  .container {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    .customer-photo {
      border-radius: 50%;
      border: 1px solid lightgray;
      width: 5em;
    }

    .customer-name {
      font-weight: bold;
      margin-bottom: -0.5em;
    }

    .customer-title {
      color: gray;
      font-size: 0.7rem;
    }

    .customer-comment {
      text-align: center;
      line-height: 1.5;
      font-size: 0.8rem;
      text-wrap: balance;
      color: gray;
      font-style: italic;
    }
  }
}

/* DEVELOPER overides */
.hero,
.about,
.order,
.hours {
  /* display: none; */
}
