html {
  --color-name-dark-orange: 255, 136, 0;
  --color-name-alice-blue: #e4ecef;
  --color-name-white: #fff;
  --accent-color-primary: rgba(var(--color-name-dark-orange), 1);
  --accent-color-primary-lightened: rgba(var(--color-name-dark-orange), 0.8);
  --bg-color-primary: var(--color-name-white);
  --bg-color-secondary: var(--color-name-alice-blue);
}

/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.container {
  position: relative;
  display: flex;
  max-width: 768px;
  margin: 0 auto;
  padding-inline: 1em;
}

button,
input {
  padding-inline: 1em;
  padding-block: 0.5em;
  border-radius: 0.25em;
}

button {
  cursor: pointer;
}

input {
  border: 1px solid gray;
}

.btn {
  border: none;
  color: #fff;

  &.btn-primary {
    background-color: var(--accent-color-primary);
    border: 1px solid var(--accent-color-primary);

    &:hover {
      background-color: var(--accent-color-primary-lightened);
    }
  }
}

.btn-link {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  /* border: 1px solid var(--accent-color-primary); */
  color: var(--color-name-white);
  border-radius: 0.25em;
  overflow: hidden;

  &:hover {
    text-decoration: none;
  }

  svg {
    font-size: 0.85em;
  }
}

.btn-link-primary {
  background-color: var(--accent-color-primary);
}

.btn-link-primary-light {
  background-color: var(--accent-color-primary-lightened);
}

.btn-left,
.btn-right {
  padding-inline: 1em;
  padding-block: 1em;
  border-radius: none;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

footer {
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.header {
  background-color: var(--bg-color-secondary);
  padding-top: 1em;
  .container {
    justify-content: space-between;
  }

  .menu-icon {
    font-size: 2rem;

    @media (min-width: 796px) {
      display: none;
    }
  }

  a {
    font-size: 0.9rem;
  }

  nav {
    position: absolute;
    top: 0;
    right: -100%;

    @media (min-width: 796px) {
      position: unset;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5em;

      @media (min-width: 796px) {
        flex-direction: row;
        gap: 1em;
      }
    }

    svg {
      font-size: 1.1em;
      margin-left: 1.25em;
    }
  }
}

/* HERO section */
.hero {
  background-color: var(--bg-color-secondary);
}

.hero .container {
  display: flex;
  flex-direction: column;

  .socials {
    ul {
      display: flex;
      gap: 2em;
      margin-top: 1em;
    }

    li {
      display: flex;
      align-items: center;
      gap: 0.1em;
      line-height: 1.7;
    }

    svg {
      font-size: 1em;
      color: var(--accent-color-primary);
    }
  }
}

/* ABOUT section */
.about {
  background-color: var(--color-name-white);

  .container {
    padding-block: 2em;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;

    @media (min-width: 796px) {
      margin-left: 40%;
    }
  }

  span {
    color: var(--accent-color-primary);
  }
}

/* ORDER section */
.order.container {
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
