body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
  background-color: #78cee9ff;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

h1,
nav {
  font-family: "Noto Sans", sans-serif;
}

.float-right {
  float: right;
}

.leon-logo {
  width: 30%;
  min-width: 105px;
  max-width: 190px;
}

.container {
  margin: 2em;
  padding: 3em;
  max-width: 855px;
  border: 5px solid #00cb4aff;
}

header {
  text-align: center;

  & h3 {
    font-size: 2em;
    font-style: italic;
    text-transform: capitalize;
  }
}

nav {
  color: #7f8789ff;

  & li {
    display: inline-block;
  }
}

nav a {
  font-weight: bold;
  color: #00cb9dff;
  transition: color 200ms ease;

  &:hover {
    color: #fff;
  }

  &.active {
    text-decoration: none;
    color: #fff;
  }
}

footer {
  clear: both;
  text-align: center;
}
