* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  border: 1px solid gray;
}

header,
footer,
div {
  height: 5em;
  padding: 2em;
  text-align: center;
}

div {
  border-top: 1px solid gray;
  border-inline: 1px solid gray;
}

div:first-child {
  border-top: none;
}

footer {
  clear: both;
  border: 1px solid gray;
}

@media screen and (min-width: 640px) {
  div {
    width: 50%;
    float: left;
    border-left: 1px solid gray;
  }

  div:nth-child(2) {
    border-top: none;
    border-left: none;
    border-right: 1px solid gray;
  }

  div:last-child {
    width: 100%;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
  }
}

@media screen and (min-width: 800px) {
  div {
    width: 33.3333%;
    float: left;
    border-left: 1px solid gray;
  }

  div:last-child {
    border-top: none;
    border-left: none;
    border-right: 1px solid gray;
    width: 33.3333%;
  }
}
